<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication1</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-page="/Index">NextTap Zone</a>
                <div class="d-flex align-items-center text-light ms-auto">
                  
                </div>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-light" aria-current="page" asp-page="/Index">Homepage</a>
                        </li>
                      
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Dashboard">Dashboard</a>
                            </li>
                        }
                       
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Login">Log In</a>
                            </li>
                        }
                        {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Account/Login">Register </a>
                        </li>
                        }
                      
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Account/Update">Account Settings</a>
                            </li>
                        }
                        {
                            <li class="nav-item">
                                <a class="nav-link" herf="/Service/CartList">Product</a>
                            </li>
                        }
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/OrderDetails">OrderDetails</a>
                            </li>
                        }
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Account/Login">Discount</a>
                            </li>
                        }

                        
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/User">User</a>
                            </li>

                            <li class="nav-item">
                                 <a class="nav-link" href="/Admin/UserList">UserList</a>
                            </li>
                       
                            <li class="nav-item">
                                <a class="nav-link" href="/Admin/Order">Order</a>
                            </li>
              
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Settings
                                </a>
                                <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="/Admin/Order">Add Order</a></li>
                                <li><a class="dropdown-item" href="/Admin/ProductList">ProductList</a></li>
                                <li><a class="dropdown-item" href="/Admin/Products">Add Product</a></li>
                                <li><a class="dropdown-item" href="/Admin/OrderDetailes">OrderDetailes</a></li>
                                <li><a class="dropdown-item" href="/Admin/OrderDetailesList">OrderDetailesList</a></li>
       
                                </ul>
                            </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - WebApplication1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
